<% provide(:title, "ログイン") %>
<div class="jumbotron">
<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-7">
    <div class="box">
      <h1>Rastagram</h1>
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
              <%= f.email_field :email, placeholder: "メールアドレス", class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
              <%= f.password_field :password, placeholder: "パスワード", class: 'form-control' %>
            </div>
          </div>
        </div>
        <p><%= f.submit "ログイン", class: "btn btn-primary" %></p>
      <% end %>
      <p>アカウントをお持ちではないですか?</p>
      <p><%= link_to "登録する", signup_path %></p>
    </div>
  </div>
</div>
</div>
