<% provide(:title, 'パスワード再設定') %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="box-edit">
      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
        <h1>パスワード再設定</h1>
        <%= hidden_field_tag :email, @user.email %>
        
        <div class="row password_edit_form">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
                <%= f.label :current_password, "現在のパスワード" %>
                <%= f.password_field :current_password, class: 'form-control' %>
            </div>
          </div>
        </div>
          
        <div class="row password_edit_form">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
                <%= f.label :password, "新しいパスワード" %>
                <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <div class="row password_edit_form">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="form-group">
                <%= f.label :password_confirmation, "新しいパスワードを確認" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
        </div>
  
        <p><%= f.submit "再設定する", class: "btn btn-primary" %></p>
        
      <% end %>
    </div>  
  </div>
</div>
