<% provide(:title, "トップページ")%>

<% if logged_in? %>
  <div class="container">
    <div class="row">
      <% if @feed_items.any? %>
        <%= render @feed_items %>
        <%= will_paginate @feed_items, class: "col-sm-8 col-sm-offset-2 col-xs-12" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container"> 
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-7">
          <div class="box">
            <h1>Rastagram</h1>
            <p>友達のラーメン写真をチェックしよう</p>
            <%= render 'shared/form' %>
            <p>アカウントをお持ちですか？<%= link_to "ログインする", login_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
