<% provide(:title, "マイページ") %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5">
            <div class="profile-image">
              <% if current_user.image.blank? %>
                <%= image_tag("default.jpg", alt: "default_image", class: "img-responsive") %>
              <% else%>
                <%= image_tag(current_user.image, class: "img-responsive") %>
              <% end %>  
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 profile-box">
            <h1><%= current_user.username %></h1>
            <%= link_to "プロフィールを編集", edit_user_path(current_user), class: "btn btn-light" %>
            <%= link_to "ログアウト", logout_path, class: "btn btn-light", method: :delete, data: { confirm: "ログアウトしますか？" } %>
            <p>
              <%= "投稿#{current_user.posts.count}件" %>
              <a href="<%= following_user_path(current_user) %>">
                <strong id="following" class="stat">
                  <%= current_user.following.count %>
                </strong>
                人をフォロー中
              </a>
              <a href="<%= followers_user_path(current_user) %>">
                フォロワー
                <strong id="followers" class="stat">
                  <%= current_user.followers.count %>
                </strong>
                人
              </a>
            </p>  
            <%= current_user.introduce %>
          </div>
        </div>
      </div>
    </div>
  </div>