  <% provide(:title, @user.name ) %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5">
            <div class="profile-image">
              <% if @user.image.blank? %>
                <%= image_tag("default.jpg", alt: "default_image", class: "img-responsive") %>
              <% else%>
                <%= image_tag(@user.image, class: "img-responsive") %>
              <% end %>  
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7">
            <h1><%= @user.username %></h1>
            <% if logged_in? %>
            <div id="follow_form">
              <% if current_user.following?(@user) %>
                <%= render 'unfollow' %>
              <% else %>
                <%= render 'follow' %>
              <% end %>
            </div>
            <% end %>
            <p>
              <%= "投稿#{@user.posts.count}件" %>
              <a href="<%= following_user_path(@user) %>">
                <strong id="following" class="stat">
                  <%= @user.following.count %>
                </strong>
                人をフォロー中
              </a>
              <a href="<%= followers_user_path(@user) %>">
                フォロワー
                <strong id="followers" class="stat">
                  <%= @user.followers.count %>
                </strong>
                人
              </a>
            </p>  
            <%= @user.introduce %>
          </div>
        </div>
      </div>
    </div>
  </div>