<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete }, data: { confirm: "#{@user.name}さんのフォローをやめますか？" }) do |f| %>
  <%= f.submit "フォロー中", class: "btn" %>
<% end %>