<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 posts-area">
      <%= will_paginate @post %>
      <div class="row">
        <% @post.each do |post| %>
          <div class="col-xs-4 posts-box">
            <%= link_to image_tag(post.image, class: "img-responsive", size: 13*13), post_path(post) %>
          </div>
        <% end %>
      </div>
      <%= will_paginate @post %>
    </div>  
  </div>
</div>