<% provide(:title, "プロフィール編集ページ") %>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="box-edit">
        <%= form_for(@user, url: user_path ) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <h1>Edit Profile</h1>
          <div class="image-control">
            <% if current_user.image.blank? %>
              <%= image_tag("default.jpg", alt: "default_image", size: 8*8) %>
            <% else %>
              <%= image_tag(current_user.image, size: 8*8) %>
            <% end %>
            <%= f.label :image, "プロフィール画像を変更"%>
          </div>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "file_select" %>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <div class="col-xs-4">
                  <%= f.label :name, "フルネーム" %>
                </div>
                <div class="col-xs-8">
                  <%= f.text_field :name, placeholder: "フルネーム", class: 'form-control' %>
                </div>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <div class="col-xs-4">
                  <%= f.label :username, "ユーザーネーム" %>
                </div>
                <div class="col-xs-8">
                  <%=f.text_field :username, placeholder: "ユーザーネーム", class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <div class="col-xs-4">
                  <%= f.label :website, "ウェブサイト" %>
                </div>
                <div class="col-xs-8">
                  <%= f.text_field :website, placeholder: "URL", class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <div class="col-xs-4">
                  <%= f.label :introduce, "自己紹介" %>
                </div>
                <div class="col-xs-8">
                  <%= f.text_area :introduce, placeholder: "自己紹介", class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <p>非公開情報</p>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <div class="col-xs-4">
                  <%= f.label :email, "メールアドレス" %>
                </div>
                <div class="col-xs-8">
                  <%= f.email_field :email, placeholder: "メールアドレス", class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <div class="form-group row">
                <div class="col-xs-4">
                  <%= f.label :sex, "性別" %>
                </div>
                <div class="col-xs-8">
                  <%= f.select :sex, ["未選択", "男性","女性"], placeholder: "性別", class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <p><%= f.submit "送信する", class: "btn btn-primary" %></p>
        <% end %>
        <%= link_to "パスワード再設定", edit_password_reset_path(@user), class: "btn btn-primary" %>
        <%= link_to "ログアウト", logout_path, class: "btn btn-primary", method: :delete %>
      </div>
    </div>
  </div>
</div>