<% provide(:title, "新規登録") %>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="box">
      <h1>Rastagram</h1>
      <%= render 'shared/form' %>
      <p><%= link_to "利用規約", "#" %></p>
    </div>
  </div>  
</div>
