<% provide(:title, "フォロワー") %>
<h1 class="text-center">フォロワー</h1>
<%= will_paginate %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
          <% @user.followers.each do |user| %>
          <div class="profile-image">
            <% if user.image.blank? %>
              <%= link_to image_tag("default.jpg", alt: "default_image", class: "img-responsive"), user_path(user) %>
            <% else%>
              <%= link_to image_tag(user.image, class: "img-responsive"), user_path(user) %>
            <% end %>  
          </div>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 profile-box">
          <h1><%= link_to user.username, user_path(user) %></h1>
          <p>
            <%= link_to "投稿#{user.posts.count}件", user_path(user) %>
            <a href="<%= following_user_path(user) %>">
              <strong id="following" class="stat">
                <%= user.following.count %>
              </strong>
              人をフォロー中
            </a>
            <a href="<%= followers_user_path(user) %>">
              フォロワー
              <strong id="followers" class="stat">
                <%= user.followers.count %>
              </strong>
              人
            </a>
          </p>  
          <%= user.introduce %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= will_paginate %>