<%= form_for(@user, url: signup_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <%= f.email_field :email, placeholder: "メールアドレス", class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <%= f.text_field :name, placeholder: "フルネーム", class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <%= f.text_field :username, placeholder: "ユーザーネーム", class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <%= f.text_field :password, placeholder: "パスワード", class: 'form-control' %>
      </div>
    </div>
  </div>
  <p><%= f.submit "登録する", class: "btn btn-primary" %></p>
<% end %>

