<% provide(:title, "トップ") %>

<div class="container">
  <div class="row timeline">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 comment-box">
      <%= link_to image_tag(post.user.image, class: "img-responsive", size: 8*8,), user_path(post.user) %>
      <h1><%= link_to post.user.name, user_path(post.user) %></h1>
      <h4><%= post.created_at %>></h4>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12" id="image-show">
      <%= link_to image_tag(post.image, class: "img-responsive", size: 30*30), post_path(post)%>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 comment-box">
      <% if post.comments.present? %>
        <% post.comments.each do |comment| %>
        <p>
          <%= comment.created_at %>
          <%= link_to comment.user.name,  user_path(comment.user) %>
          <%= comment.content %>
          <% if current_user.name == comment.user.name %>
            <%= link_to "コメントを削除", comment_path(comment), method: :delete,
                                                                  data: { confirm: "削除しますか？" } %>
          <% end %>
        </p>  
        <% end %>
      <% end %>
    </div>
  </div>
</div>