<% provide(:title, "新規投稿") %>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="post-box">
        <h1>ラーメン画像を投稿する！！</h1>
        <%= form_for(@post, url: user_posts_path) do |f| %>
          <%= f.text_area :comment, placeholder: "コメント", style: "width: 300px;" %>
          <%= f.file_field :image, accept: 'image/jpeg,image/png', class: "file_select", style: "margin-top: 10px;" %>
          <p><%= f.submit "投稿する", class: "btn btn-primary", style: "margin-top: 20px;" %></p>
        <% end %>  
      </div>
    </div>
  </div>
</div>
