<% provide(:title, "画像個別ページ") %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 comment-box">
      <%= link_to image_tag(@post.user.image, class: "img-responsive", size: 8*8,), user_path(@post.user) %>
      <h1><%= link_to @post.user.name, user_path(@post.user) %></h1>
      <h4><%= @post.created_at %>></h4>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12" id="image-show">
      <%= image_tag(@post.image, class: "img-responsive", size: 30*30)%>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 comment-box">
      <% if @comments.present? %>
        <% @comments.each do |comment| %>
        <p>
          <%= comment.created_at %>
          <%= link_to comment.user.name,  user_path(comment.user) %>
          <%= comment.content %>
          <% if current_user?(comment.user) %>
            <%= link_to "コメントを削除", comment_path(comment), method: :delete,
                                          data: { confirm: "削除しますか？" } %>
          <% end %>
        </p>  
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 comment-box">
      <% if logged_in? %>
        <%= form_for(@comment, url: post_comments_path(@post)) do |f| %>
          <%= f.text_field :content, placeholder: "コメントする" %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <p><%= f.submit "投稿する", class: "btn btn-primary" %></p>
        <% end %> 
      <% end %>
    </div>
    <div class="col-sm-8 col-sm-offset-2 col-xs-12 comment-box">
      <%= @post.comment %>
      <% if current_user?(@post.user) %>
      <%= link_to "投稿を削除", post_path(@post), method: :delete,
                                data: { confirm: "削除しますか？" } %>
      <% end %> 
    </div>
  </div>
</div>