@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 100px;
  background-color: rgb(247,247,247);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.btn {
  width: 200px;
  margin-bottom: 30px;
}

.form-control {
  margin: auto;
  background-color: rgb(247,247,247);
  max-width: 300px;
}

label {
  height: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-size: 2em;
  color: black;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Snell Roundhand',sans-serif;
}

#search {
  float: left;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgb(247,247,247);
  width: 200px;
  margin-top: 5px;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* top-page */

.jumbotron {
	padding-top: 0px;
	background-image: url("haikei.jpg");
	background-size: cover;
	background-position: 30% 30%;
	height: 800px;
}

.box {
  border: 1px solid #DDDDDD;
  background-color: #fff;
  max-width: 500px;
  margin-top: 50px;
  h1{
    text-align: center;
    font-family: 'Brush Script MT',sans-serif;
  }
  p {
    text-align: center;
  }
}


.alert {
  margin-top: 50px;
}

.followeres-images {
  margin-top: 100px;
  width: 500px;
  height: auto;
  border: 1px solid #DDDDDD;
  background-color: #fff;
}

/* form */

#error_explanation {
  color: red;
  margin: auto auto 50px;
  width: 250px;
  ul {
    color: red;
    list-style: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* edit */

.box-edit {
  border: 1px solid #DDDDDD;
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  h1 {
    text-align: center;
  }
  h2 {
   
  }
  p {
    text-align: center;
  }
  .image-control {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    img {
      border-radius: 50%;
    }
  }
  .file_select {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
  }
  .password_edit_form {
    margin-bottom: 20px;
  }
}

/* user_pages */

.posts-area {
  border-top: 1px solid #DDDDDD;
  background-color: rgb(247,247,247);
  margin-top: 50px;
}

.posts-box {
  margin-top: 10px;
  img {
    margin: auto;
    height: auto;
    width: auto;
    min-height: 250px;
  }
}

.profile-image {
  img {
    border-radius: 50%;
  }
}

.profile-box {
  h1{
    width: 100px;
    text-align: left;
  }
  a {
    color: #222222;
  }
  .btn {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
  }
  p {
    a {
      margin-left: 20px;
    }
  }
}

#image-show {
  padding: 0;
}

.timeline {
  margin-bottom: 50px;
}

.comment-box {
  background-color: #fff;
  border-bottom: 1px solid #DDDDDD;
  img {
    border-radius: 50%;
    float: left;
    padding-top: 5px;
  }
  h1 {
    float: left;
    margin-left: 15px;
  }
  h4 {
    float: right;
  }
}

.pegination {
  p {
    margin: auto;
  }
}

.post-box {
  border: 1px solid #DDDDDD;
  background-color: #fff;
}