<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-3 col-md-offset-1 col-md-3">
        <div class="navbar-header">
          <%= link_to "Rastagram", root_path, id: "logo", class: "navbar-brand" %>
        </div>
      </div>
      <div class="col-xs-offset-6 col-xs-2 col-md-offset-1 col-md-6">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_user_post_path(current_user) do %>
              <i class="fas fa-upload fa-2x"></i>
            <% end %>
          </li>  
          <li>
            <%= link_to logout_path, method: :delete, data: { confirm: "ログアウトしますか？" } do %>
              <i class="fas fa-sign-out-alt fa-2x"></i>
            <% end %>  
          </li>
          <li>
            <%= link_to current_user do %>
              <i class="fa fa-user fa-2x"></i>
            <% end %>  
          </li>
        </ul>
      </div>
    </div>  
  </div>
</nav>
