<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <div><%= debug(params) if Rails.env.development? %></div>
  </body>
</html>